/* .form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: #f9f9f9;
}
.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 30px;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; 
}

.user-head h1 {
    color:green;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
}

.form-label {
    color: #495057;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}