<div class="privacy-head">
    <h1>Welcome to Garden Harvest Hub!</h1>

    <p>This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our
        website [www.gardenharvesthub.com] (the “Site”), and our practices regarding your data. Please read this privacy
        policy
        carefully. If you do not agree with the terms of this privacy policy, please do not access the site.
    </p>

    <h2>1. Information We Collect</h2>
    <p>1.1. Personal Data
        We may collect personal information such as your name, email address, phone number, and mailing address when you
        register on our Site, place an order, subscribe to our newsletter, or fill out a form. This information is used
        to:

        Process transactions
        Send periodic emails regarding your order or other products and services
        Improve customer service
        Personalize your experience on our Site</p>
    <p>1.2. Payment Information
        When you purchase a product, we collect payment information such as credit card details through a secure payment
        gateway. This information is used solely to process payments and is not stored on our servers.
    </p>
    <p>1.3. Non-Personal Data
        We may collect non-personal information such as browser type, operating system, and the IP address of your
        computer.
        This information helps us understand how our visitors use the Site.
    </p>
    <h2>2. How We Use Your Information</h2>

    <p>We may use the information we collect from you in the following ways:</p>

    <ul>
        <li>To process your transactions quickly and efficiently</li>
        <li>To send periodic emails regarding your order, or other products and services</li>
        <li>To improve our website based on the information and feedback we receive from you</li>
        <li>To improve customer service and respond to your requests and support needs</li>
    </ul>

    <h2>3. Sharing Your Information</h2>

    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This
        does
        not include trusted third parties who assist us in operating our website, conducting our business, or servicing
        you, so
        long as those parties agree to keep this information confidential. We may also release your information when we
        believe
        release is appropriate to comply with the law, enforce our site policies, or protect ours or others'
        rights,property,or safety.
    </p>
    <h2>4. Data Security</h2>
    <p>We implement a variety of security measures to maintain the safety of your personal information when you place
        an order or enter, submit, or access your personal information. These security measures include:</p>
    <ul>
        <li> Secure Socket Layer (SSL) technology to ensure that your information is fully encrypted and sent across the
            Internet securely.</li>
        <li>Regular malware scanning.</li>
    </ul>
    <h2>5. Cookies</h2>
    <p>
        Our Site may use “cookies” to enhance the user experience. Cookies are small files that a site or its service
        provider transfers to your computer’s hard drive through your web browser (if you allow) that enable the site’s
        or service provider’s systems to recognize your browser and capture and remember certain information.
    </p>
    <p>
        You may choose to set your web browser to refuse cookies or to alert you when cookies are being sent. If you do
        so,note that some parts of the Site may not function properly.
    </p>

    <h2>6. Third-Party Services</h2>
    <p>
        Occasionally, at our discretion, we may include or offer third-party products or services on our website. These
        third-party sites have separate and independent privacy policies. We therefore have no responsibility or
        liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of
        our site and welcome any feedback about these sites.
    </p>
    <h2>7. Your Consent</h2>
    <p>
        By using our site, you consent to our privacy policy.
    </p>

    <h2>8. Changes to Our Privacy Policy</h2>
    <p>
        Garden Harvest Hub reserves the right to update or change our Privacy Policy at any time. We will notify you of
        any significant changes by placing a prominent notice on our site.
    </p>
    <h2>9. Contacting Us</h2>
    <p>
        If there are any questions regarding this privacy policy, you may contact us using the information below:
    </p>
    Garden Harvest Hub
    Email: [support@gardenharvesthub.com]
</div>