<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="..//../assets/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center search-box" id="navbarSupportedContent">
            <form class="d-flex mx-auto">
                <input class="form-control me-4 custom-search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="cart">
                        <img src="..//../assets/icons8-cart-50.png" width="40" height="40">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="user">
                        <img src="..//../assets/icons8-user-90.png" width="40" height="40">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
